@model Web_Security_Backend_Login_Handler.Controllers.Denial_Service_Protection.Service_Manager

@{
    ViewBag.Title = "index";
}

<h2>Service Manager</h2>



<table>
    <tr>
        <th>Address</th>
    </tr>
    <tr>
        <td>@ViewBag.Service_Manager</td>
    </tr>
</table>
